*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.clock {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    background-color: aqua;
    box-sizing: border-box;
    border-radius: 200%;
    border: 5px solid gray;
}

.min{
    
}

p {
    position: absolute;
    display: flex;
    font-size: 30px;
}

.clock1 {
    position: relative;
    margin: 0;
    left: 243px;
    top: 30px;
}

.clock2 {
    position: relative;
    margin: 0;
    left: 297px;
    top: 50px;
}

.clock3 {
    margin: 0;
    position: relative;
    left: 325px;
    top: 80px;
}

.clock4 {
    margin: 0;
    position: relative;
    left: 297px;
    top: 110px;
}

.clock5 {
    margin: 0;
    position: relative;
    left: 243px;
    top: 130px;
}

.clock6 {
    margin: 0;
    position: relative;
    left: 167px;
    top: 130px;
}

.clock7 {
    margin: 0;
    position: relative;
    left: 90px;
    top: 65px;
}

.clock8 {
    margin: 0;
    position: relative;
    top: -25px;
    left: 40px;
}

.clock9 {
    margin: 0;
    position: relative;
    top: -125px;
    left: 12px;
}

.clock10 {
    margin: 0;
    position: relative;
    top: -225px;
    left: 37px;
}   

.clock11 {
    margin: 0;
    position: relative;
    top: -315px;
    left: 90px;
}

.clock12 {
    margin: 0;
    position: relative;
    left: 160px;
    top: -370px;
}

.hour{
    position: fixed;
    /* animation-timing-function: ; */
}